@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;
}

/* 

NAV START 

*/

#nav {

 
}

.fig-nav_img {
    /* background-image: url(./assets/Payday-img.gif); */
    width: 100%;
    margin: 0;
    /* padding: 0; */
    background-color: #276177;
    display: flex;
    justify-content: center;
}

.nav-img {
    width: 90%;


}

.small-nav {
    background-color: whitesmoke;
    width: 100%;
    height: 2rem;
    margin: 0;
    padding: 0;
}

.small-nav_text {
    margin: 2rem 0 0 5rem;
    color: teal;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;

}

.nav-logo {
    width: 10%;
    height: 3rem;

}

.nav-area_row {
    background-color: white;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    left: 0;
   
}

.nav-area {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 1rem 0 1rem 0;
    height: 3rem;
   
}

.input-sec {
    width: 52%;
    height: 3rem;
    border: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 0;
    margin-left: 2rem;
}

.child-sec {
    width: 100%;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.search-input {
    outline: none;
    border: none;
    font-size: 1rem;
    width: 100%;
}

.search-input {
    width: 60%;
    border: none;
}

.nav-search-btn {
    padding: 0 1.5rem 0 1.5rem;
    background-color: orange;
    border: none;
    border-radius: .5rem;
    color: white;
    font-weight: bold;
    box-shadow: 5px 4px 20px rgb(214, 202, 202);
    cursor: pointer;
}

.nav-cart {
    display: flex;
    gap: 1rem;
}

h3 {
    display: flex;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
}

h3:hover {
    color: orange;
}

.icons {
    font-size: 1.5rem;
}


/* 

NAV END 

*/

/* 

HEADER START 

*/

.header-row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.header-card_one {
    width: 20%;
    height: 25rem;
    border: none;
    background-color: white;
    border-radius: .5rem;
    box-shadow: 5px 4px 20px rgb(214, 202, 202);
}

.card-one_items {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 0 0 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-decoration: none;
    color: black;
    font-size: .8rem;
    cursor: pointer;
}

.card-one_items:hover {
    color: orange;
}

.header-card_two {
    width: 60%;
    height: 25rem;
    border: none;
    background-color: white;
    border-radius: .5rem;
    box-shadow: 5px 4px 20px rgb(214, 202, 202);
}

.header-card_three {
    width: 20%;
    height: 25rem;
    /* border: 2px solid lightblue; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.child-card_one {
    width: 100%;
    height: 12rem;
    border: none;
    background-color: white;
    border-radius: .5rem;
    box-shadow: 5px 4px 20px rgb(214, 202, 202);
}

.order-icon_img {
    width: 2.5rem;
    height: 2.5rem;
}

.call-to_order {
    display: flex;
    text-decoration: none;
    color: black;
    gap: .5rem;
    margin : 1rem;
    /* padding: 1rem; */
}

.call-para {
    margin: 0;
    /* font-weight: bold; */
    font-size: .8rem;
}

.call-line{
    margin: 0;
}

.child-card_two {
    width: 100%;
    height: 12rem;
    border: none;
    background-color: white;
    /* background-image: url(./assets/PDS_SBB.png); */
    border-radius: .5rem;
    box-shadow: 5px 4px 20px rgb(214, 202, 202);
}

.pds-img{
   width: 100%;
   border-radius: .5rem;
}



/* 

HEADER END

*/

/* 

CATEGORIES START 

*/

.categories-row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.categories-container{
    width: 100%;
    height: 10rem;
    margin-bottom: 2rem;
    border: none;
    background-color: white;
    border-radius: .5rem;
    box-shadow: 5px 4px 20px rgb(214, 202, 202);
}